:root {
    --primary: #00ff00;
    --secondary: #000000;
    --light: #fff;
    --dark: rgb(0, 0, 0);
    --diabled:  rgb(82, 230, 77);
    background: linear-gradient(90deg, rgb(0, 0, 0) 50%, rgb(141, 207, 204) 100%, rgba(0,212,255,1) 100%); 
}

body {
    font-family: 'Lato', sans-serif;
    margin: 0;
    height: 100vh;
    background-color: var(--diabled);
}

*:first-letter {
    text-transform: capitalize;
}

.roundBorder {
    border-radius: 5px;
}

.list {
    margin: 25px auto;
    padding: 25px;
    background-color: var(--light);
    width: 110%;
    max-width: 350px;
}

.date {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dateRight {
    display: flex;
    align-items: center;
}

#dateNumber {
    font-size: 50px;
}

#dateText {
    letter-spacing: 5px;
    text-transform: uppercase;
}

#dateMonth,
#dateNumber,
#dateText  {
    font-weight: bold;
}

#dateMonth,
#dateYear {
    margin-left: 7px;
    font-size: 20px;
}

form {
    margin: 20px -10px;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: auto 35px auto;
    grid-column-gap: 15px;
}

input {
    border: none;
    padding-left: 10px;
    background-color: var(--diabled);
}

input:focus {
    outline: none;
}

.addTaskButton,
.orderButton {
    border: none;
    font-weight: bold;
    cursor: pointer;

}

.addTaskButton {
    height: 35px;
    border-radius: 50%;
    font-size: 18px;
    background-color: var(--diabled);
}

.orderButton {
    background-color: var(--secondary);
    color: var(--light);
    font-size: 10px;
    margin-top: 0px 50px;
}

.task {
    background-color: var(--primary);
    padding: 20px;
    margin-top: 30px;
    color: var(--light);
    cursor: pointer;
}

.done {
    background-color: var(--diabled);
    text-decoration: line-through;
    color: var(--dark);
}


  p {
    line-height: 1.4;
  }
  
  a {
    outline: none;
    text-decoration: none;
    padding: 2px 1px 0;
  }
  
  a:link {
    color: #000000;
  }
  
  a:visited {
    color: #313283;
  }
  
  a:focus {
    border-bottom: 1px solid;
    background: #BAE498;
  }
  
  a:hover {
    border-bottom: 1px solid;
    background: #CDFEAA;
  }
  
  a:active {
    background: #f9fff4;
    color: #CDFEAA;
  }
